.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .card {
    background-color: #ffffff; /* White background for card */
    border-radius: 10px;
    width: 400px; /* Adjust the width as needed */
    padding: 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .title {
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
    color: #8172e8; /* Purple color */
    text-align: center;
  }
  
  .successMessage {
    color: #008000; /* Green color for success message */
  }
  
  .errorMessage {
    color: #ff0000; /* Red color for error message */
  }
  
  .input {
    height: 50px; /* Increase input height for better visibility */
    margin-bottom: 20px; /* Increase bottom margin for spacing */
    padding: 0 20px; /* Add padding for better appearance */
    border-radius: 15px;
    border: 1px solid #cccccc;
    width: 90%;
    font-size: 16px; /* Adjust font size */
  }
  
  .button {
    background-color: #8172e8; /* Purple color */
    padding: 15px 0; /* Increase padding for better clickability */
    border-radius: 15px;
    color: #ffffff; /* White color for button text */
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 60%;
    margin-left: 80px;
    transition: background-color 0.3s ease; /* Add transition for hover effect */
  }
  
  .button:hover {
    background-color: #6c5ce7; /* Darker shade of purple on hover */
  }
  
  .signInText {
    margin-top: 20px; /* Increase top margin for spacing */
    font-size: 16px;
    color: #666666; /* Gray color */
    text-align: center;
  }
  
  .signInLink {
    color: #8172e8; /* Purple color */
    text-decoration: none;
    font-weight: bold;
  }
  