.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .card {
    background-color: #ffffff;
    border-radius: 10px;
    width: 400px;
    padding: 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .title {
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
    color: #8172e8; 
    text-align: center;
  }
  
  .successMessage {
    color: #008000; 
  }
  
  .errorMessage {
    color: #ff0000; 
  }
  
  .input {
    height: 50px; 
    margin-bottom: 20px;
    padding: 0 20px; 
    border-radius: 15px;
    border: 1px solid #cccccc;
    width: 90%;
    font-size: 16px; 
  }
  
  .button {
    background-color: #8172e8; 
    padding: 15px 0; 
    border-radius: 15px;
    color: #ffffff; 
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 60%;
    margin-left: 80px;
    transition: background-color 0.3s ease; 
  }
  
  .button:hover {
    background-color: #6c5ce7; 
  }
  
  .signInText {
    margin-top: 20px;
    font-size: 16px;
    color: #666666; 
    text-align: center;
  }
  
  .signInLink {
    color: #8172e8; 
    text-decoration: none;
    font-weight: bold;
  }
  