/* Content.module.css */

.content {
  
  }
  
  .content h2 {
    color: #8172E8;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .content p {
    color: #666;
  }
  