/* CameraComponent.module.css */
.containers {
  width: 690px;
margin-bottom: 220px;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

  }
  .all
  {
   
        background-color: #121723;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 0vh;
 
  }
  .title {
    font-size: 24px;
    margin-bottom: 20px;
    color:#9a70b3;
    font-Family:'Arial, Helvetica, sans-serif';
    text-Align:'left';
    text-shadow: #712f87;
  }
  
  .cameraContainer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 20%;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .cameraButton {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: #98b2cf;
    color: white;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cameraButton:hover {
    background-color: #0056b3;
  }
  
  .topLeftButton,
  .topRightButton,
  .bottomRightButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #712f87;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  
  .topLeftButton {
  
    margin-right: 580px;
    border-radius: 100px;
    background-color: transparent;
    color: #121723;
 
  }
  
  .topRightButton {
    color: #454b59;
    border-radius: 100px;
    background-color: transparent;
  
  }
  .topRightButton:hover {
  
  background-color: #d0badc;
  }
  
  .topLeftButton:hover {
  
    background-color: #d0badc;
    }
  
  .bottomRightButton {
 margin-top: 50px;
    margin-left: 420px;
    width: 180px;
    background-color:#9a70b3;
  }