.horizontal-stepper {
  display: flex;
}

.step {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #dcdbdc;
  box-shadow: 0px 4px 8px rgba(109, 77, 118, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  margin-right: 80px;

  cursor: pointer;
  transition: all 0.3s; /* Add transition for smooth effect */
}

.step.active {
background-color: #9a70b3;

  color: #c8c8c8;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add box shadow for 3D effect */
}

#line1::after {
  content: '';
  position: absolute;
  width: 143px; /* Adjust the width of the line */
  height: 1px; /* Adjust the height of the line */
  background-color: #979797; /* Adjust the color of the line */
  top: 50%;
  right: -149px; /* Adjust the position of the line */
  transform: translateY(-50%);
}
#line2::after {
  content: '';
  position: absolute;
  width: 143px; /* Adjust the width of the line */
  height: 1px; /* Adjust the height of the line */
  background-color: #979797; /* Adjust the color of the line */
  top: 50%;
  right: -149px; /* Adjust the position of the line */
  transform: translateY(-50%);
}
#line3::after {
  content: '';
  position: absolute;
  width: 143px; /* Adjust the width of the line */
  height: 1px; /* Adjust the height of the line */
  background-color: #979797; /* Adjust the color of the line */
  top: 50%;
  right: -149px; /* Adjust the position of the line */
  transform: translateY(-50%);
}
.step:last-child::after {
  display: none; /* Hide the line after the last step */
}

/**/
.vertical-stepper {
  display: flex;
}

.step-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px; /* Adjust the spacing between steps */
}

.step {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #dcdbdc;
  box-shadow: 0px 4px 8px rgba(109, 77, 118, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.step.active {
  background-color: #9a70b3;
  color: #c8c8c8;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.step-title {
  text-align: center;
  font-size: 11px;
  margin-top: 10px;
  color: #979797;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
