.industryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .Industryback
  {
    background-color: #121723;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 0vh;
  }
  .title {
    color: #9a70b3;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .optionsRow {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.options
{
    color: #121723;
  align-items: center;
}
.optionBox {
    padding: 10px 20px;
    width: 100px;
    height: 90px;
    margin: 0 10px;
    background-color: #e8e8e8;
    border-radius: 5px;
    font-size: 16px;
    color: #2c303b;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .optionBox:hover {
    background-color: #d0badc;
  }
  /* Button Styles */
.topLeftButton,
.topRightButton,
.bottomRightButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #712f87;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}


.topLeftButton {
  margin-right: auto;
  margin-left: -39px;
  border-radius: 100px;
  background-color: transparent;
  color: #121723;
}

.topRightButton {
  margin-left: 465px;
  color: #454b59;
  border-radius: 100px;
  background-color: transparent;

}
.topRightButton:hover {

background-color: #d0badc;
}

.topLeftButton:hover {

  background-color: #d0badc;
  }
.bottomRightButton {
  margin-top: 20px;
  margin-left: 412px;
  width: 180px;
  background-color:#9a70b3;
}