.serviceOrProductContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .alls{
    background-color: #121723;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 0vh;
  }
  
  .title {
    color: #9a70b3;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .descriptionTextarea {
    width: 100%;
    height:210px ;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    resize: vertical;
  }
     /* Button Styles */
.topLeftButton,
.topRightButton,
.bottomRightButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #712f87;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}


.topLeftButton {
  margin-right: auto;
  margin-left: -339px;
  border-radius: 100px;
  background-color: transparent;
  color: #121723;
}


.topRightButton:hover {

background-color: #d0badc;
}

.topLeftButton:hover {

  background-color: #d0badc;
  }
.bottomRightButton {
  margin-top: 20px;
  margin-left: 412px;
  width: 180px;
  background-color:#9b63bb;
}